@model SSP2.Models.Folio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Folio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FolId" />
            <div class="form-group">
                <label asp-for="FolNumero" class="control-label"></label>
                <input asp-for="FolNumero" class="form-control" />
                <span asp-validation-for="FolNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolNu" class="control-label"></label>
                <input asp-for="FolNu" class="form-control" />
                <span asp-validation-for="FolNu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolFecha" class="control-label"></label>
                <input asp-for="FolFecha" class="form-control" />
                <span asp-validation-for="FolFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
